<!-- HOME PAGE -->
<div id="home" class="min-h-screen bg-gray-50 dark:bg-gray-900">
  <%= render "hero_section" %>
  <%= render "news_ticker" %>
  <%= render "performance_section" %>
  <%= render "popular_exams" %>
  <%= render "quick_action_section" %>
</div>